# Database
DATABASE_URL="file:./dev.db"

# Admin credentials
ADMIN_USER="admin"
ADMIN_PASS="solario2026"
ADMIN_SESSION_SECRET="ganti-dengan-random-string-panjang-minimal-32-karakter"

# Email (opsional di MVP, fallback ke console.log)
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
ADMIN_EMAIL="admin@solario.id"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
